*{
  margin: 0;
  padding: 0;
}
.middleSec{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 49px 56px;
}
.middleSec ul {
	list-style: none;
	padding-left: 0px;
}
.middleSec ul li{
  font-size: 16px;
}
.jahidstatus ul li {
	font-size: 16px;
	line-height: 1.4;
}
.rightimg {
	display: flex;
	justify-content: end;
	margin-top: -148px;
	margin-bottom: 0px;
}
.rightimg img {
	width: 155px;
	height: auto;
}
.careerobj h4{
	margin-top: 5px !important;
}
.careerobj p {
	margin-top: -10px;
	padding-left: 7px;
	line-height: 1.3;
	margin-bottom: 10px;
}
.middleSec h4 {
	background-color: aqua;
	color: blue;
	padding: 3px 0px;
	margin-bottom: 14px;
	margin-top: 9px;
}
.strength ul{
	margin-top: 1px;
	margin-bottom: 8px;
}
.strength ul li {
	padding-left: 6px;
  margin-top: 4px;
}
.specialization ul {
	list-style-type: square;
	margin-left: 30px;
}
.specialization ul li{
  margin: 4px 0px;
}
.disflex {
	display: flex;
	justify-content: space-around;
	margin-top: -113px;
	margin-right: 188px;
	margin-left: 207px;
}
.disflex ul{
	list-style: square; 
}
.disflex ul li {
	font-size: 16px;
	margin-top: 3px;
}
.educationdiv ul li {
	margin-left: 38px;
}
.educationdiv b {
	margin-left: 20px;
}
.educationdiv ul li:nth-child(1) {
	margin-top: 5px;
}
.educationdiv ul li:nth-child(5) {
	margin-bottom: 10px;
}
.personaldiv ul li {
	margin-left: 40px;
	font-size: 18px;
}
.disflexereffer p {
	margin-top: 45px;
	margin-right: 35px;
}
.disflexereffer h3 {
	position: absolute;
	margin-right: 60px;
}
.disflexereffera h6 {
	position: absolute;
	bottom: 165px;
	font-size: 17px;
	margin-right: 109px;
}
.disflexereffera h2 {
	position: absolute;
	bottom: 135px;
	font-size: 23px;
	margin-right: 11px;
	margin-top: 2px;
}
.disflexereffera h5 {
	margin-top: 46px;
	margin-right: 153px;
}
.disflexereffera p {
	margin-right: -153px;
	margin-top: 20px;
}
.disflexereffer h6 {
	position: absolute;
	bottom: 162px;
}
.referencediv h5{
	font-size: 17px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: 48px;
}
.referencediv h2{
	font-size: 21px;
	margin-top: 5px;
	margin-left: 48px;
}
.referencediv h3, .referencediv p {
	margin-left: 48px;
	margin-top: 5px;
}
.disflexereffera {
	display: flex;
	justify-content: flex-end;
	margin-top: -80px;
	margin-left: 417px;
	width: 65%;
}
.disflexereffer {
	display: flex;
	justify-content: flex-end;
	margin-top: -80px;
	margin-left: 417px;
	margin-right: 56px;
}
.declare p {
	margin: 13px 0px 30px 39px;
}
.declare b {
	font-size: 25px;
	margin-left: 40px;
}
/* Respnsive start from here 
 @media (max-width:868px){
	.middleSec {
		padding: 11px 10px;
		margin: 26px auto;
	}
}
@media (max-width:770px){
	.middleSec {
		padding: 11px 10px;
		margin: 26px auto;
	}
	.middleSec h4 {
		width: 100%;
	}
	.declare p {
		margin: 13px 119px 30px 39px;
	}
	.middleSec {
		width: 621px;
		height: auto;
	}
}
@media (max-width:674) {
	body {
		margin-top: -6px;
		margin-right: 77px;
		margin-left: 19px;
	}
	.disflexereffer {
		margin-top: -80px;
		margin-left: 340px;
		margin-right: 56px;
	}
	.disflexereffer h3 {
		margin-right: 62px;
	}
} */
